@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

@theme {
  --font-sans: 'Poppins', sans-serif;
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    @apply bg-gray-50 text-black overflow-x-hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full px-4 py-3 rounded border border-gray-300 text-sm text-gray-800 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-400;
  }

  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/10 p-[10px] rounded-md my-1 hover:bg-[var(--color-primary-dark)] transition duration-200 cursor-pointer;
  }

  .card {
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
  }

  .card-btn {
    @apply flex items-center text-[12px] font-medium text-gray-700 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
  }

  .card-btn-fill {
    @apply flex items-center text-[12px] font-medium text-white hover:text-primary bg-primary hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-primary cursor-pointer;
  }

  .download-btn {
    @apply flex items-center text-xs md:text-[13px] text-lime-100 md:px-3 py-2 rounded border border-lime-200 hover:border-lime-400 cursor-pointer;
  }

  .user-card {
    @apply bg-white p-4 rounded-xl shadow shadow-gray-100 border border-gray-200/50;
  }
}